<div class="con">
  <header>
    <app-header [displayedValue]="region"></app-header>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="glass">
    <app-footer (showModalEmitter)="showModal = true"></app-footer>
  </footer>
</div>
<div class="center">
  <div class="map-con">
    <div class="map" #map></div>
  </div>
</div>
<div class="backdrop" *ngIf="showModal" (click)="showModal = false"></div>
<div class="modal" *ngIf="showModal">
  <p>Autor: Mikołaj Gładysz</p>
  <p>
    Github:
    <a href="https://github.com/MikolajGladysz"
      >https://github.com/MikolajGladysz</a
    >
  </p>
  <button class="buttons" (click)="showModal = false">Close</button>
</div>
